/* Allows the body to grow as high as the content requires */
html {
    height: 100%; 
}
/* Force the body not to get any smaller than the window height */
body {
    min-height: 100%;
    margin: 0;
}

.container {
    display:grid;
    justify-items:start;
    width: 680px;
    height: 680px;
    margin: auto;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uncolored {
    background-color: white;
    height: 100%;
    width: 100%;
    border: solid 1px black;

}

.colored {
    background-color: black;
    width: 100%;
    height: 100%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

